.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 400px;
  margin: 0 auto;
}

.card {
  background-color: #000;
  color: black;
  font-size: 31px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.flipped {
  background-color: transparent;
  transition: background-color 0.6s ease;
}